<!--The content below is only a placeholder and can be replaced.-->
<h1 class="title">TassomaiApp</h1>

<div style="text-align:center">
  <div class="quiz-area" [hidden]="inProgress">
    <div [hidden]="quizOver">
      <h2 id="question">Question {{questionNo + 1}}</h2>
      <ul id="options">
        <div *ngFor="let item of question; let i = index">
          <input class="form-check-input" type="radio" name="answer" value="{{item.index}}" [(ngModel)]="answerIndex"
            checked>
          <label class="form-check-label" for="exampleRadios1">
            {{item.text}}
          </label>
        </div>
      </ul>
      <button (click)="checkAnswer()" class="btn btn-success">Submit</button>

      <div [hidden]="!answerMode">
        <br> <br>
        <!-- <div [hidden]="correctAns" class="alert alert-success" role="alert">
          <span>That is correct!</span>
        </div> -->
        <div [hidden]="!correctAns" class="alert alert-danger" role="alert">
          <span>Sorry, that is an incorrect answer.</span>
        </div>
        <!-- <button (click)="nextQuestion()" class="next-question btn btn-primary">Next</button> -->
      </div>
    </div>

    <div [hidden]="!quizOver">
      <h2>Quiz is over</h2>
      <button (click)="reset()" class="btn btn-primary">Play again</button>
    </div>

    <!-- <div id="score">
      Score: {{score}}
    </div> -->
  </div>

  <div class="intro" [hidden]="!inProgress">
    <h1 class="greeting">Welcome to the Quiz App</h1>
    <button id="startQuiz" (click)="start()" class="btn btn-success">Start the Quiz</button>
  </div>

  <ngx-spinner></ngx-spinner>

</div>


<router-outlet></router-outlet>
